@{
    ViewData["Title"] = "Про нас";
}
<h1>@ViewData["Title"]</h1>

<div class="blockquote">
    <h2>ТОВ "Аптека" це:</h2>
    <ul>
        <li><h3>3 аптеки, 1 аптечний пункти</h3></li>
        <li><h3>рецептурно-виробничий відділ (виготовлення лікарських засобів в умовах аптеки за індивідуальним замовленням)</h3></li>
        <li><h3>довідково-інформаційний центр</h3></li>
        <li><h3>Лікувально-діагностичний центр з клініко-діагностичною лабораторією та амбулаторіями, який надає багатопрофільну кваліфіковану медичну допомогу. Підрозділи центру надають не тільки широкий спектр діагностичних процедур, а й кваліфіковані консультації лікарів різного профілю.</h3></li>
    </ul>
</div>

