@{
    ViewData["Title"] = "Контакти";
}
<h1>@ViewData["Title"]</h1>

<div class="blockquote">
    <ul>
        <li><h4>Про компанію</h4></li>
        <li><h4>Поштова адреса: 49089 Дніпро, вул. Суворова, 17</h4></li>
        <li><h4>тел. +38 066 308 40 19, +38 096 253 16 68</h4></li>
    </ul>
</div>