
@{
    ViewData["Title"] = "Головна";
}
<div class="blockquote">
    <ul>
        <li><h2>Обирай з понад 9 000 найменувань</h2></li>
        <li><h2>Знаходь інформацію в Держ. реєстру ЛЗ</h2></li>
        <li><h2>Дізнавайся ціни і наявність в аптеках</h2> </li>
        <li><h2>Резервуй товар ОНЛАЙН!</h2></li>
    </ul>
    <h1>Працюємо для вашого комфорту</h1>
    <h3>
        Індивідуальний підхід до кожного клієнта і професійне ставлення навіть до найдрібніших деталей дозволяють гарантувати нашим покупцям гідний рівень послуг, що надаються.
    </h3>
    <div heigt = 100% width= 100%>
    <img src="https://ledfactor.ua/sites/default/files/pharmacy.jpg" alt="Зображення відсутнє" />
    </div>
    
</div>

