
@{
    ViewData["Title"] = "Послуги";
}
<h1>@ViewData["Title"]</h1>

<div class="blockquote">
    <ul>
        <li><h2>Обирай з понад 9 000 найменувань</h2></li>
        <li><h2>Знаходь інформацію в Держ. реєстру ЛЗ</h2></li>
        <li><h2>Дізнавайся ціни і наявність в аптеках</h2> </li>
        <li><h2>Резервуй товар ОНЛАЙН!</h2></li>
    </ul>
    <div>
        <h3>
            В аптеках Вам нададуть кваліфіковану допомогу з питань придбання лікарських засобів і товарів аптечного асортименту, допоможуть підібрати компресійний трикотаж, косметичні засоби з урахуванням індивідуальних особливостей і переваг. Наші фахівці продемонструють як користуватися медичною технікою та дадуть рекомендації по її використанню. При необхідності можна отримати консультацію фахівця не виходячи з дому - по телефону.
            Для зручності покупців ми раді надати ряд додаткових послуг – резервування товару в аптеці, допомога в пошуку лікарських засобів, медичної техніки, косметики та інших товарів аптечного асортименту.
        </h3>
    </div>
</div>