@model (string username, string confirmAccountToken, DateTime expire, string host)
<h4>
    Шановний <strong>@Model.username</strong>, 
</h4>
<h5>Було зроблено запит на відновлення паролю для Вашого аккаунту</h5>
<p>
    Для відновлення паролю перейдіть за <a href="@Model.host/ResetPassword?access_token=@Model.confirmAccountToken">посиланням</a> <br/>
    Посилання дійсне до <strong>@Model.expire.ToString("g")</strong>
</p>
