@{ 
    ViewData["Title"] = "Підтвердження реєстрації";
}
@model (string loginController, string loginAction)
<div class="alert alert-success" role="alert">
    Реєстрацію успішно підтверджено!
</div>
@Html.ActionLink("Увійти до аккаунту", Model.loginAction, Model.loginController)
