@{
    ViewData["Title"] = "Зміна паролю";
}
@model (string loginController, string loginAction)
@if (Model.loginAction != null || Model.loginController != null)
{
    <div class="alert alert-success" role="alert">
        Пароль успішно змінено!
    </div>
    @Html.ActionLink("Увійти до аккаунту", Model.loginAction, Model.loginController)
}
else
{
    @using (Html.BeginForm("ResetPassword", "Home", new { access_token = ViewBag.AccessToken }, FormMethod.Post, null, new { id = "registration_form" }))
    {
        <div class="form-group">
            <input id="passw" type="password" name="password" class="form-control" placeholder="Введіть новий пароль" required>
        </div>
        <div class="form-group">
            <input id="passw_conf" type="password" name="password_conf" class="form-control" placeholder="Повторіть новий пароль" required>
        </div>
        <button type="submit" class="btn btn-primary">Змінити пароль</button>
    }

    @section Scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <script type="text/javascript">
            $('#registration_form').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 5
                    },
                    password_conf: {
                        required: true,
                        minlength: 5,
                        equalTo: "#passw"
                    }
                },
                messages: {
                    password: {
                        required: "Необхідно заповнити",
                        minlength: "Не повинен бути менше за 5 символів"
                    },
                    password_conf: {
                        required: "Необхідно заповнити",
                        minlength: "Не повинен бути менше за 5 символів",
                        equalTo: "Паролі не співпадають"
                    }
                }
            });

        </script>
    }
}



