@{
    ViewData["Title"] = "Відновлення доступу";
}
@model (MedsWebApp.Models.User.Roles role, string email, bool isEmailSended)

@if (!string.IsNullOrEmpty(Model.email))
{
    if (Model.isEmailSended)
    {
        <div class="alert alert-success" role="alert">
            Посилання для відновлення паролю відправлено Вам на адресу @Model.email
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Користувач @Model.email не знайдено або не вдалося відправити лист.
        </div>
    }
}
@using (Html.BeginForm("ResetPasswordRequest", "Home", new { role = Model.role }, FormMethod.Post, null, new { id = "reset_form" }))
{
    <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Введіть email-адресу" value="@Model.email" required>
    </div>
    <button type="submit" class="btn btn-primary">Змінити пароль</button>
}
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $('#reset_form').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                email: {
                    email: "Введіть корректну email-адресу",
                    required: "Необхідно заповнити"
                }
            }
        });
    </script>
}


